<div class="slider" id="slider">
  <h1 class="hero-title">Become who you are.</h1>
  <button id="prev"><</button>
  <div class="item">
    <img class="images" src="assets/images/philo-dem.webp" alt="Image 3" />
    <h1 class="text-overlay">Mental Mastery</h1>
    <h2 class="description-overlay">
      Develop a champion's mindset with proven techniques to enhance your
      resilience and focus.
    </h2>
  </div>
  <div class="item">
    <img
      class="images"
      src="assets/images/demetrious-johnson.jpg"
      alt="Image 2"
    />
    <h1 class="text-overlay">Fight Ready Fitness</h1>
    <h2 class="description-overlay">
      Achieve fighter-level conditioning with targeted training for strength,
      endurance, and explosiveness.
    </h2>
  </div>
  <div class="item">
    <img class="images" src="assets/images/DC-IMGL7916.jpg" alt="Image 1" />
    <h1 class="text-overlay">Tactical Precision</h1>
    <h2 class="description-overlay">
      Master combat strategies and techniques for flawless execution in
      real-world situations.
    </h2>
  </div>

  <button id="next">></button>
</div>
