$primary-color: #343434;
$medium-screen: 768px;

h1 {
  margin-bottom: 50rem;
  text-align: center;
  @media screen and (max-width: $medium-screen) {
    margin-bottom: 37rem;
  }
}
.slider {
  position: relative;
  height: 100%; // Hauteur de l'image
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  margin-top: 4.5rem;
  padding-top: 8rem;
  @media screen and (max-width: $medium-screen) {
    padding-top: 1rem;
  }
}

.item {
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 50rem; // Largeur de l'image
  height: 29rem;
  transition: 200ms;
  @media screen and (max-width: $medium-screen) {
    margin-left: 21%;
    width: 25rem;
  }
}
.item:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.images {
  width: 50rem;
  height: 30rem;
  object-fit: cover;
  @media screen and (max-width: $medium-screen) {
    width: 20rem;
    height: 30rem;
  }
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: none;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.5s;
  z-index: 10; // Pour rester au-dessus des images
  @media screen and (max-width: $medium-screen) {
    top: 90%;
  }
}

#prev {
  left: 2%;
  @media screen and (max-width: $medium-screen) {
    left: 25%;
  }
}

#next {
  right: 2%;
  @media screen and (max-width: $medium-screen) {
    right: 25%;
  }
}

#prev:hover,
#next:hover {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Couleur du texte */
  font-size: 2rem; /* Taille du texte */
  font-weight: bold; /* Mettre le texte en gras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour améliorer la lisibilité */
  z-index: 2; /* S'assurer que le texte est au-dessus de l'image */
}
.description-overlay {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(220, 220, 220); /* Couleur du texte */
  font-size: 1.3rem; /* Taille du texte */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour améliorer la lisibilité */
  z-index: 2; /* S'assurer que le texte est au-dessus de l'image */
}
.hero-title {
  color: white; /* Couleur du texte */
  font-size: 3rem; /* Taille du texte */
  font-weight: bold; /* Mettre le texte en gras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour améliorer la lisibilité */
}
@media screen and (max-width: $medium-screen) {
  .slider {
    // Alignement central des éléments du carousel
    justify-content: center;
  }

  .item {
    // Pour masquer les images sur les côtés, on peut simplement les rendre invisibles
    &:not(:nth-child(1)) {
      opacity: 0;
      transform: translateX(0) scale(0); // on les "rétrécit" pour qu'elles ne soient plus visibles
    }
  }
}
